NEXT_PUBLIC_SUPABASE_URL=https://yftnrlcjfdpwrgjbqzpg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_w-k09zC9TbEJE34_vQ_N8A_3mzNUJ6z
SUPABASE_SERVICE_ROLE_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_API_SECRET=
